
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .search-result {
            width: calc(100% - 30px);
        }
        .song-item {
            display: flex;
        }
            .song-item .song-info {
                margin-left: 5px;
                padding-top: 10px;
            }
        .song-item .thumb {
            border: 1px solid;
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            border-radius: 50%;
            margin: 2px;
            margin-top: 5px;
        }
        .audio-background {
            position: fixed;
            bottom: 60px;
            left: 0px;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            background-color: gray;
            padding-top: 10px;
            opacity: 0.5;
            display: none
        }
            .audio-background:hover {
                opacity: 1;
            }
            .audio-background img {
                border: 1px solid;
                -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                box-shadow: inset 0 0 30px rgba(0,0,0,.3);
                border-radius: 50%;
                margin: 2px;
            }
            .rotate {
              animation: rotation 8s infinite linear;
            }

            @@keyframes rotation {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(359deg);
              }
            }
    </style>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <input id="search-song" type="text" class="form-control"/>
        </div>
    </div>
</div>
<div class="row" id="top-100"></div>
<div class="row">
    <div class="col-12 audio-background">
        <div style="display: flex">
            <img id="audio-thumb" class="rotate" height="50" />
            <div style="margin-left: 10px">
                <b id="audio-name"></b>
                <p id="audio-singer"></p>
            </div>
        </div>
        <audio id="audio-control" controls="controls" src="" style="width: 100%" autoplay />
    </div>
</div>
<script src="~/js/NhacCuaTui/index.js" asp-append-version="true"></script>