@model List<YoutubeGetLink.Models.NhacCuaTui.SeachModel>
    <style>
        .top-song-image {
            border: 1px solid;
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            border-radius: 5px;
            cursor: pointer;
        }

        .top-song-title {
            width: 80%;
            margin: auto;
            background-color: gray;
            color: #fff;
            transform: translateY(-100%);
            padding: 5px;
            opacity: 0.8;
            cursor: pointer;
        }
        .top-song-title:hover{
            opacity: 1;
        }
            .top-song-item:hover .top-song-title {
                opacity: 1;
            }
       
    </style>
<div class="row text-center">
    <h2>Top 100 Nhạc Việt</h2>
</div>
<div class="row" style="display: flex">
    @foreach (var item in Model)
    {
        <div class="col-4 text-center" style="margin-top: 0px; margin-bottom: 0px" >
            <div class="top-song-item" data-link="@item.Link">
                <img class="top-song-image" src="@item.Thumb" width="80%" />
                <div class="top-song-title">
                    <b class="top-song-name">@item.Name</b>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/js/NhacCuaTui/top100.js" asp-append-version="true"></script>