@{
    ViewData["Title"] = "Home Page";
}
<style>
    #list-videos > span {
        cursor: pointer;
        margin-right: 10px;
    }

    #list-search {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow-y: auto;
    }

    .video-item {
        margin: 2px;
        padding: 2px;
        border-radius: 5px;
        cursor: pointer
    }

        .video-item .title {
            margin-left: 5px;
            display: flex;
            flex-direction: column;
        }

        .video-item .action {
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            color: #06a27e;
        }

        .video-item .title span {
            color: #c63f17;
        }

        .video-item .title small {
            color: #906835;
        }

        .video-item:nth-child(even) {
            background: #bdbdbd;
        }

        .video-item:nth-child(odd) {
            background: #efefef;
        }

        .video-item:hover {
            background: #8d8d8d;
        }
    #playlist-content {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col-12">
        <button class="btn btn-outline-danger top-trending" data-param="">Top trending</button>
        <button class="btn btn-outline-danger top-trending" data-param="4gIuCggvbS8wNHJsZhIiUExGZ3F1TG5MNTlhbW42X05FZFc5TGswZDdXZWVST0Q2VA">Âm nhạc</button>
        <button class="btn btn-outline-danger top-trending" data-param="4gIvCgkvbS8wYnp2bTISIlBMaUN2Vkp6QnVwS21jbW5oQkVZbWpkTVdUN0R1T0FMSWo">Game</button>
        <button class="btn btn-outline-danger top-trending" data-param="4gIuCggvbS8wNWpoZxIiUEwzWlE1Q3BOdWxRa1VZWE53ZFlMakJmbzRmSl96NmRSTg">Tin tức</button>
        <button class="btn btn-outline-danger top-trending" data-param="4gIuCggvbS8wMnZ4bhIiUEx6akZiYUZ6c21NUXJXaUJyM2tNTXFqN1VxZXF3SEhreQ">Phim ảnh</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Từ khóa: </label><input class="form-control" type="text" name="key" id="key" placeholder="Tìm kiếm"/>
        </div>
        <button type="button" class="btn btn-primary" id="search-video"><i class="fa fa-search"></i> Tìm kiếm</button>
        <button type="button" class="btn btn-outline-warning" id="playlist-video"><i class="fa fa-list"></i> Hàng đợi</button>
        <div class="row mt-2">
            <div class="col-12" id="list-search">

            </div>
        </div>
    </div>
</div>

<div class="row  mt-2">
    <div class="col-12">
        <div class="form-group">
            <label>Youtube URL: </label><input class="form-control" type="text" name="url" id="url" value="@ViewBag.Url" />
        </div>
        <button type="button" class="btn btn-primary" id="get-video"><i class="fa fa-arrow-circle-down"></i> Lấy video</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <label id="video-title"></label>
        <div id="list-videos"></div>
    </div>
</div>
<div class="row mt-2" id="video-control">
</div>

<div class="modal fade" id="playlist-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Hàng đợi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="playlist-content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Home/index.js" asp-append-version="true"></script>
